$icomoon-font-family: "myicons" !default;
$icomoon-font-path: "fonts" !default;

$icon-cross: "\e90e";
$icon-bookmark: "\e90b";
$icon-comment: "\e90c";
$icon-heart: "\e90d";
$icon-arrow-right: "\e900";
$icon-calendar: "\e901";
$icon-email: "\e902";
$icon-facebook: "\e903";
$icon-instagram: "\e904";
$icon-linkedin: "\e905";
$icon-locate: "\e906";
$icon-mail: "\e907";
$icon-phone: "\e908";
$icon-share: "\e909";
$icon-twitter: "\e90a";

