@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,400&display=swap');

$mainFont:'Poppins', sans-serif;
$activeColor : #1abc9c;
$borderColor: #39413f;
$cardBgColor : #e2dcce;
$linkColor: #1a81bc;
$BgColorDark :#131418;

body {
  font-family: $mainFont;
}

a {
  text-decoration: none;
  color:$linkColor;

  &:hover {
    text-decoration: none;
    color:$activeColor;
  }
}

footer {
  background: $BgColorDark;
  color:$cardBgColor;
}

.navbar-brand {
  color:($activeColor !important);
}

.navbar-custom-bg {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.5);
}

#mainHeader {
  //margin-top: -70px;
	padding-top: 160px;		
	min-height: 520px;
	width: 100%;

  background: $BgColorDark;
  background-image: url('../ressources/images/back.jpg');  
	background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align:center;

  h1 {
    margin:0;
    padding:1rem 0;
    font-size: 4rem;
    text-transform: uppercase;    
    color: white;
    letter-spacing: 5px;
    font-weight: bold;
  }

  h2 {      
    font-size: 1.6rem;
    text-transform: uppercase;    
    color: white;
    margin:0;
  }
}

#gallery {
  margin: 4em 0;

  .card {
    background: $cardBgColor;
    box-shadow: 3px 3px 8px  rgba(19, 20, 24, 0.65);
    transition: all 0.5s;    
    padding:1rem 0;

    .frame-img {
      position: relative;
      margin: 2rem auto;
      padding: 0.5rem;      
      border:1px solid $borderColor;
      border-radius: 5px;
      width:300px;
      height:300px;
      overflow: hidden;
      

      .overlay-box {
        position: absolute;
        display:flex;
        align-items: center;
        justify-content: center;
        top:0;
        left:0;
        width: 100%;
        height:100%;
        background: rgba(19, 20, 24, 0.65);
        transition: all 2s;
        opacity:1.0;

        .title {
          text-align: center;
          color:$activeColor;

          p {
            color: white;
            text-shadow: 1px 1px 2px rgba(19, 20, 24, 0.5);
          }       
        }
      }

      img{ /* https://codepen.io/ouzkagan/pen/RwaPGej */  
        object-fit: cover;
        width:100%;
        transform: translateY(0);        
        transition: all 2s ease-out;
      }      
    } 

    &:hover {
      background: $BgColorDark;

      .frame-img {
        .overlay-box {                 
          opacity:0;
          transition: all 0.3s;
        }

        img {
          object-fit: cover;
          width:100%;
          /* Considering frame height   */
          transform: translateY(calc(-100% + 300px));
          transition: all 2s ease-out;
        }
      }     
    }
  }
}