.javster-logo {
  position:absolute;  
  display:block;
  max-width:50vmax;
  max-height:60vmax;    
  width:60vmin;
  height:70vmin;
  top: calc(15vmin + var(--mouse-y));
  left:calc(50% +  var(--mouse-x));
  background-color:var(--clr-javster-bg);
  border: 3vmin solid var(--clr-javster-400);
  border-radius:45% 45% 50% 50%;
 
  filter:drop-shadow(1rem 1.6rem 0.75rem var(--clr-javster-shadow));
  opacity:0;
  backface-visibility: visible;
  transform: translateX(-50%) scale(.1) rotateY(0);
  animation-iteration-count: 3;
  animation: javster 1.3s ease forwards;
  
  
  &__head {
    position:relative;    
        
    &-eye {
      position: absolute;
      top: 22vmin;
      width: 15vmin;
      height: 10vmin;
      background: var(--clr-javster-secondary-400);
      border-radius: 50%;
      border: 1vmin solid var(--clr-javster-secondary-600);
      
      &::after {
        content: '';
        position: absolute;
        left:calc(50% + calc(var(--mouse-x) * 0.25));
        top:calc(50% + calc(var(--mouse-y) * 0.30));
        transform:translate(-50%, -50%);
        width: 7vmin;
        height: 4vmin;
        background: var(--clr-javster-secondary-900);
        border-radius: 50%;
        
      }
      
      &-left {
        left: 9vmin;
      }
      
      &-right {
        right: 9vmin;
      }
    }
    
    &-nose {
      position: absolute;
      left: 50%;
      top: 40vmin;      
      border-left: 7vmin solid transparent;
      border-right: 7vmin solid transparent;
      border-top: 5vmin solid  var(--clr-javster-400);
      transform: translateX(-50%)
    }  
    
    &-mouth {
      position:absolute;
      width:24vmin;
      height:12vmin;
      top:42vmin;
      left:50%;
      border-bottom: 3vmin solid var(--clr-javster-400);      
      border-radius:50%;
      transform: translateX(-50%);
    }
  }
  
  &__earphone {
    position:absolute;
    width:80vmin;
    height:70vmin;
    left:50%;
    top:-15vmin;
    border-top: 3vmin solid var(--clr-javster-400);      
    border-radius:50% 50% 50% 50% / 60% 60% 40% 40%;
    transform: translateX(-50%);
    
    &::before, &::after {
      content:'';
      position: absolute;
      width:12vmin;
      height:40vmin;
      
      top:15vmin;
      background-color: var(--clr-javster-400);      
      
    }
    &::before {
      left:0;
      border-left: 3vmin solid var(--clr-javster-800);      
      border-radius: 50% 0 0 50%;
    }
    &::after{
      right:0;
      border-right: 3vmin solid var(--clr-javster-800);      
      border-radius: 0 50% 50% 0;
    }
  }
}
